<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2014 OTA Update Center

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.otaupdater"
    android:versionCode="202"
    android:versionName="2.0.2">

    <uses-feature android:name="com.otaupdater.ota_feature" android:required="true" />

    <permission android:name="com.otaupdater.permission.C2D_MESSAGE" android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.REBOOT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.otaupdater.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.ACCESS_CACHE_FILESYSTEM" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:allowBackup="true">

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

        <activity
            android:name=".OTAUpdaterActivity"
            android:launchMode="singleTask"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.otaupdater" />
            </intent-filter>
        </receiver>

        <service android:name=".GCMIntentService" />
        
        <activity
            android:name=".LicenseActivity"
            android:label="@string/app_license">
            
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".OTAUpdaterActivity" />
        </activity>
        
        <activity 
            android:name=".ContributorsActivity"
            android:label="@string/app_contrib">
            
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".OTAUpdaterActivity" />
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_settings">
            
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".OTAUpdaterActivity" />
        </activity>

        <activity
            android:name=".DownloadsActivity"
            android:label="@string/app_downloads">
            
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".OTAUpdaterActivity" />
        </activity>
        
        <receiver android:name=".DownloadReceiver"
                  tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.otaupdater.action.DL_ROM_ACTION" />
                <action android:name="com.otaupdater.action.DL_KERNEL_ACTION" />
                <action android:name="com.otaupdater.action.CLEAR_DL_ACTION" />
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".CheckinReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        
        <activity android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

    </application>
</manifest>
